<div class="container">
  <div class="form-group mt-5">
    <div class="row">
      <div class="col-12">
        <label>Profissões</label>
        <input
          [attr.list]="myList"
          [formControl]="control"
          class="form-control custom-select"
          [class.is-invalid]="((control.dirty || control.touched) && !control.valid)"
          name="browser"
        />
        <datalist datalist [attr.id]="myList">
          <option *ngFor="let item of list">
            {{ item }}
          </option>
        </datalist>
        <div class="invalid-feedback">
          Campo obrigatório.
        </div>
      </div>

    </div>
  </div>
  {{ { value: control.value, isValid: control.valid } | json }}
  <div class="row">
    <div class="col-6">
      <app-date-input [control]="dateControl"></app-date-input>
    </div>
    <div class="col-6">
      <app-time-input [control]="dateControl"></app-time-input>
    </div>
    <div class="col-12">
      <h1>{{dateControl.value}}</h1>
    </div>
  </div>
</div>
