<div class="form-group">
  <input [class.is-invalid]="(auxControl.touched || auxControl.dirty) && !control.valid" class="form-control" [formControl]="auxControl" type="date">
  <span class="invalid-feedback">
    {{control.errors ? control.errors.mfx : ''}}
  </span>
</div>
